<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <p>HOLA MUNDO</p><!-- el método 'as_p' permite saltos de línea para el formulario -->
     <!-- 'el_formulario' es el nombre que le dimos al
                               formulario en el archivo 'views.py' de boletin -->
</body>
<!-- Agregamos la etiqueta 'form' para utilizar las sentencias http del form
(action, submit, etc.) -->
<form method="POST" action="">{% csrf_token %} <!-- TOKEN de Django para la
seguridad contra la falsificación de peticiones -->
<!-- el método 'as_p' permite saltos de línea para el formulario -->
<!--{{ el_formulario.as_p }} <!-- 'el_formulario' es el nombre que le dimos al
formulario en el archivo 'views.py' de boletin -->
    {{ el_formulario.as_p }}
<input type="submit" value="Guardar">
</form>
</html>